#container
{
	width: 960px;
	margin: 0 auto;
	border: 1px solid black;
}

.right
{
	float: right;
}

.left
{
	float: left;
}

.clearfix:after 
{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

nav
{
	padding: 0 125px 5px 125px;
	padding-bottom: 20px;
	margin: 20px 0 40px 0;
	border-bottom: 1px solid black;
}

nav ul
{
	list-style: none;
}

nav ul li

{
	margin-top: 10px;
	display: block;
	float: left;
	border-right: 2px solid firebrick;
	padding: 0 20px;
}

nav ul li:nth-child(4)
{
	border: 0;
}

nav ul li:last-child
{
	border-left: 2px solid firebrick;
	border-right: 0;
}

nav ul li a 
{
	text-decoration: none;
	color: black;
	font-family: verdana;
}

nav ul li a:hover
{
	color: firebrick;
}

nav ul ul 
  {
  	position: absolute;    /*keeps dropdown from bumping down lower content*/
    display: none;         /*keeps dropdown hidden until hovered over*/
    list-style-type: none; /*puts the menu underneath the menu item*/
    margin: 0;
    padding: 0;
  }

nav ul li ul li
  {
    float: none;         /*makes dropdown vertically stacked instead of horizontal*/
    border-right: 0;
    padding: 0 12px 0 12px;
    background-color: white;
  }

nav ul li ul li:first-child
{
margin: 8px 0 0 0;
border-top: 0;
border-right: 1px black solid;
border-bottom: 0;
border-left: 1px black solid;
}

nav ul li ul li:nth-child(2)
{
margin: 0;
border-top: 0;
border-right: 1px black solid;
border-bottom: 1px black solid;
border-left: 1px black solid;	
}

nav ul li ul li a
{
	line-height: 2em;
}

nav ul li:hover > ul
  {
    display: block; /* unhides dropdown when hovered over*/
  }

#open
{
	padding: 0 20px;
	overflow: auto;
}

strong, em
{
	color: firebrick;
}

#open h1
{
	position: relative;
	width: 700px;
	text-align: center;
	font-size: 2em;
	margin: 0 auto;
	padding: 20px 0 40px 0;
	font-family: Verdana, sans-serif;
	color: black;
	font-size: 1.8em;
	font-weight: 400;
	line-height: 1em;
}

#open p 
{
	position: relative;
    float: left;
    clear: left;
	width: 430px;
	margin-top: 50px;
	font-family: Verdana, sans-serif;
	text-align: justify;
	color: black;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.5em;
}

video
{
	position: relative;
	float: right;
	width: 430px;
	margin-top: 10px;
	margin-bottom: 30px;
	border: 1px solid black;
	border-radius: 5px;
}

.outer
{
	width: 90%;
	margin: 10px 0 10px 30px;
	border-top: solid firebrick 2px;
	margin-bottom: 10px;
}

.title
{
	position: relative;
	float: left;
	width: 20%;
	margin-top: 12px;
	font-family: Verdana, sans-serif;
	color: black;
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1em;
}

.text 
{
	position: relative;
	float: right;
	width: 70%;
	font-family: Verdana, sans-serif;
	text-align: justify;
	color: gray;
	font-weight: 100;
	font-size: 0.95em;
	line-height: 1.5em;
}

#col_head
{
	position: relative;
	margin-top: 12px;
	font-family: Verdana, sans-serif;
	color: black;
	font-size: 1.6em;
	font-weight: 400;
	text-align: center;
	margin-top: 20px;
}

.col 
{
	width: 400px;
	margin-left: 10px;
	font-family: Verdana, sans-serif;
}

.col p
{
	color: grey;
}

.col img
{
	display: block;
	margin: 0 auto;
}

h1 strong, h2 strong
{
	color: black;
}

li 
{
 color: gray;
}

.col h2, .col h3
{
	font-weight: 500;
}

img
{
	padding-top: 50px;
}
